.App {
  text-align: center;
}

.Genres {
  width: 600px;
  min-height: 200px;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

input[type="text"] {
  text-align: center;
}
input[type="submit"]:hover {
  color: white;
  background: #2653c4;
}

p {
  font-size: 16px;
  color: black;
}

input[type="submit"] {
  border-radius: 5px;
  width: 200px;
  border: gray 1px solid;
  box-shadow: 0 0 5px #999999;
  padding: 5px 20px;
}

.userInfo {
  min-height: 100px;
  display: flex;
  margin: 30px;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #fc036f;
}

.Lists {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.backImage {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 70px;
}

.has-bg-img {
  background: url("") center center;
  background-size: cover;
}

/* .artistName {
  margin: 30px;
  background-color: black;
  opacity: 0.6;
} */

.artists {
  padding: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
